<template lang="pug">
  div.columns
    div.todo-listing.column.is-half.is-offset-one-quarter.card
      div.card-header
        div.hero
          div.hero-body
            div.container
              h1.title.is-centered Todos
              h2.subtitle.is-centered some things just need to get done
      div.card-content
        form.level.add-todo-form(v-on:submit="add_todo")
          b-input.level-item(type="text" v-model="to_add_message")
        div.todos
          div.todo(v-for="todo in todos")
            div.notification.todo-message #[button.delete.remove-todo(type="button" v-on:click="remove_todo(todo)")] {{ todo.message }}
</template>

<script>
  import Store from '@/store'
  import { TodoStoreName } from '@/store/idb_setup'
  import { Todo, TodoActions } from '@/store/todo'

  export default {
    name: 'todo-listing',
    data () {
      return {
        to_add_message: ''
      }
    },
    computed: {
        todos () {
          return Store.state[TodoStoreName].todos
        }
    },
    methods: {
      add_todo (evt) {
        Store.dispatch(TodoActions.add, new Todo(this.to_add_message))
        this.to_add_message = ''

        evt.preventDefault()
      },

      remove_todo (todo) {
        Store.dispatch(TodoActions.delete, todo)
      }
    },
    beforeMount () {
      Store.dispatch(TodoActions.getDBState)
    }
  }
</script>
