<template>
  <div id="app">
    <main>
      <router-view></router-view>
    </main>
  </div>
</template>

<script>
import Vue from 'vue'
import Buefy from 'buefy'

Vue.use(Buefy)

export default {
  name: 'app'
}
</script>

<style lang="scss">
  $fa-font-path: "../node_modules/font-awesome/fonts";
  @import "../node_modules/font-awesome/scss/font-awesome";

  @import '../node_modules/bulma/sass/utilities/_all';

  // Apply Any Bulma customizations

  @import '../node_modules/bulma/bulma';
  @import '../node_modules/buefy/src/scss/buefy';
</style>
